#giantHeader{
  width: 100wh;
    height: 100vh;
    background-color:#42b9f4;   
    
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
   
h1 {
    color:white;
    font-family: 'Kurale', serif;
    font-size:80px;
    animation-name: fadeIn;
    animation-duration: 5s;
}

@keyframes fadeIn{
    
     from { 
        font-size: 2px;
        color: #7df442;
        
    } 
    to {
        font-size: 60px;
        color: white;   
    }  
    
    
    
}
    
    


table img{
    width: 300px;
    height:400px;
    
}

#movieInfo{
    
    width: 100wh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 60px;
}
padding:{
    
    padding:20px;
}
#movieTable h3 {
   text-align: center;
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
}
a{
    
    color:black;
    text-decoration:none;
}
a:hover{
    
    color:chartreuse
}

#movieTable p{
    
    text-align: center;
    margin: 0px;
    font-family: sans-serif
}
#fullMoviePage{
    
    width: 100wh;
    height: 100vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;                                    
    
}


#movieLeft{
   
    width: 450px;
    
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

#movieRight{
    
margin-left: 40px;    


}

#movieLeft h2{
    font-size: 40px;
    font-family: 'Quicksand', sans-serif; 
    text-align: center;
    color: aqua;
    
}

#movieLeft  {
    border: 1px solid black;
    width: 560px;
    
    
    
}
#movieLeft h3 {
    text-align: center;
    margin-bottom: 0px
    font-family: 'Quicksand', sans-serif    font-size: 25px;
    
}
    




#movieRight img {
    width: 400px;
    
}
    
#backButton{
    border: 1px solid crimson;
    padding: 10px
    font-family: sans-seriff;
    
    position: absolute;
    top: 30px
    left: 80px
    
    
}    
#scrollDownButton{
    
     position: relative;
    top: 100px;
    
    
    
}

#myFavoritesWrapper{
    width: 100wh;
    display: flex;
    justify-content: center;

}

#MovieTable h2{
   font-family: 'Raleway', sans-serif;
   font-size: 45px;
   color: chartreuse; 
    
    
    
}
